body    {
    margin: 0px;

}

header  {

}

.cabeceraPrincipal  {
    padding: 40px 10% 40px 10%;
    background-image: url(/img/bg_header.jpg);
    background-color: white;
}

.tituloPrincipal  {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

.menuPrincipal  {
    padding: 5px 10% 5px 10%;
    background-color: aqua;
    text-align: center;
    border: solid 1px 0px 0px 0px;
}

.menuPrincipal nav ul li  {
    list-style-type: none;
    display: inline;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-inline: 14px;
}

.menuPrincipal a {
    color: black;
}

main    {
    margin: 0px 10% 0px 10%;
    background-color: brown;
}

.contenidoPrincipal {
    float: left;
    width: 65%;
    background-color: burlywood;
}

.lateralPrincipal   {
    float: right;
    width: 35%;
    background-color: blueviolet;
}

footer  {
    clear: both;
    background-color: black;
    padding: 8px 10% 8px 10%;
}

.piePrincipal   {

}

.piePrincipal table   {
    width: 100%;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}

.creditosPrincipal  {
    border-top: 1px white solid;
    padding: 8px 10% 8px 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
}